body {
  font-family: "Poppins", sans-serif;
}

.main {
  font-weight: bolder;
  color: #215ee9;
}

/* .image-banner-1{
  height: 673px;
  width: 600px;
  left: 720px;
  top: 122px;
  border-radius: 0px;  
  background-image: url(images/Foto\ Dokter.jpg)
} */