* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navigation */
.nav-container {
  background-color: transparent;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0);
  height: 72px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.nav-items li {
  list-style: none;
  margin-right: 30px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: #7d8790;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
}

/* Header */

.header-container {
  background: #ffffff url("images/background.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 100vh;
}

.search-box {
  display: none;
}


